<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>

<body>
    <h1>Comments</h1>
    <ul>
        <% for (let comment of comments) {%>
            <li>
                <%= comment.comment %> - <%= comment.username %>
                <a href="/comments/<%= comment.id %>">Details</a>
                <a href="/comments/<%= comment.id %>/edit">Edit</a>
            </li>
        <% } %>
    </ul>

    <a href="/comments/new">New comment</a>
</body>

</html>