<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <h1>New</h1>
    <form method="POST" action="/comments">
        <section>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </section>
        <section>
            <label for="comment">Comment:</label>
            <br>
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
        </section>
        <button>Save</button>       
    </form>
</body>

</html>