<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>

<body>
    <h1>Comments</h1>
    

    <a href="/comments">See all the comments</a>
</body>

</html>