<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= subreddit %>>
    </title>
</head>
<%# rand.ejs has all of the partials %>

    <body>
        <%= subreddit %>
            <h1>All the cats</h1>
            <ul>
                <% for(let cat of cats) { %>
                    <li>
                        <%= cat.name %>
                    </li>
                    <% } %>
            </ul>
    </body>

</html>